@import "_normalize";
@import "_variables";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background: white;
    @media (min-width: 640px) {
        width: 450px;
        margin: 0 auto;
        background: lavender;
    }
}

.header {
    background: lightyellow;
    &__title {
        color: black;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        margin: 10px;
    }
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__button {
        background: grey;
        border-radius: 3px;
        margin-left: 20px;
        color: white;
        border: none;
        box-shadow: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 6px;
        width: 120px;
    }
    &__input {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    &__popButton {
        margin-top: 10px;
        height: 50px;
        bottom: 30px;
        width: 80px;
    }
}

.days {
    background: cornsilk;
    width: 100%;
    padding: none;
    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        display: flex;
        font-size: 10px;
        padding: 6px;
        font-weight: bold;
        height: 30px;
        width: 30px;
    }
}

.habits {
    background: oldlace;
    &__list {
        margin: 0;
    }
    &__item {
        display: flex;
        height: 50px;
        align-items: center;
        &--red {
            color: red;
        }
        &--blue {
            color: blue;
        }
        &--yellow {
            color: peru;
        }
        &--black {
            color: black;
        }
        &--green {
            color: green;
        }
        &--pink {
            color: pink;
        }
    }
    &__input {
        flex-grow: 1;
        font-size: 20px;
        margin-left: 20px;
    }
    &__status {
        background-image: url('../assets/img/close.svg');
        background-size: 100% 100%;
        object-fit: contain;
        width: 20px;
        height: 20px;
        padding: 15px;
        &--done {
            background-image: url('../assets/img/check.svg');
            fill: green;
        }
    }
}

.popup {
    position: fixed;
    margin: 30px;
    top: 0;
    background: white;
    width: 80%;
    display: none;
    background: ivory;
    @media (min-width: 640px) {
        width: 400px;
    }
    &--visible {
        display: block;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: black;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        margin: 10px;
        margin: 20px;
    }
    &__button {
        height: 30px;
        margin-top: 10px;
        width: 30px;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        flex-wrap: wrap;
        row-gap: 20px;
        flex: 2 2 auto;
        margin: 10px;
    }
    &__item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        &--red {
            background: red;
        }
        &--blue {
            background: blue;
        }
        &--yellow {
            background: yellow;
        }
        &--green {
            background: green;
        }
        &--pink {
            background: pink;
        }
    }
}